<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='uicons-regular-straight/css/uicons-regular-straight.css') }}" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <title>Restaurant Recommender</title>
    </head>


    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class = "container-fluid d-flex justify-content-between align-items-center">
                <a class="navbar-brand" href="/">Restaurant Recommender</a>
                <div>
                    <a class="nav-link d-inline text-light me-3" href="/recommend">Get Recommendation</a>
                    <a class="nav-link d-inline text-light" href="/about">About</a>

                    {% if session.get('username') %}
                    <a class = "btn btn-outline-light ms-3" href="/logout" role="button">Logout</a>
                    {% else %}
                    <a class = "btn btn-outline-light ms-3" href="/login" role="button">Login</a>
                    {% endif %}
                </div>
            </div>
        </nav>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="container mt-3">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

    <!--get_flashed_messages(with_categories = true) returns a list of (category,message) pairs
        rest is jinjja syntax, when we do flash("message", "category") this code takes the respective placeholder values-->


    <main class="">
        {% block main %}{% endblock %}
    </main>

    </body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</html>